* {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata";
    color: white;
    align-items: center;
}

@font-face {
    font-family: "Inconsolata";
    src: url('/static/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

html {
    font-size: 1rem;
}


body {
    background: url('background_image.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}


div {
    display: flex;
}

.wrapper {
    height: 100%;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2);
    width: fit-content;
}

.main_view {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main_view>div {
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
}

.nav.justify-content-center {
    padding: 0.70em 0;
    z-index: 2;
}

a.nav-link,
a.nav-link:hover {
    color: #001b2e;
    padding: 1.5em;
}

#about,
#projects,
#contact, #home {
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#home h2,
#about h2,
#projects h2,
#contact h2 {
    font-size: 2.2rem;
}

#about {
    flex-direction: row-reverse;
}

#projects button {
    margin: 1%
}

.image_description {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;

}

.image_description_text p {
    margin-top: 0;
    margin: 5%;
    padding: 5%;
}

.image_description_text {
    flex-direction: column;
}

.image_description #picture {
    border-radius: 60%;
    width: 40%;
    padding: 2em;
    object-fit: cover;
}


.icon_container {
    justify-content: center;
}

.icon_container img {
    margin: 0.5em;
    height: 2.5em;
    fill: #ffffff;
}

.modal_box {
    display: none;
    position: fixed;
    background-color: #001b2e60;
    z-index: 2;
    inset: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.carousel-inner {
    height: auto;
    overflow: auto;
}

.carousel.slide {
    height: auto;
    width: 100%;
    /* Added unit */
}

.carousel-item img {
    max-height: 100vh;
    height: 100%;
    object-fit: scale-down;
}

.carousel-item {
    overflow: visible;
}

.carousel-caption {
    position: absolute;
    flex-direction: column;
    background-color: #001b2e60;
    font-size: 1.1rem;
    bottom: 2rem !important;
}